h1 {
    font-size: 26px;
    font-family: sans-serif;
    text-transform: uppercase;
    font-style: italic;
}

p{
    color: cadetblue;
    font-weight: bold;
}

ul li:nth-child(odd){color:tan;}

a:link {
    color:green;
    text-decoration:none;
}
a:hover {
    color:hotpink;
    font-weight:bold;
    text-decoration:underline navy;
}
a:visited {
    color:khaki;
}
a:active {
    background-color: steelblue;
    font-style: italic;
}