h1 {
    font-size: 26px;
    font-family: sans-serif;
    text-transform: uppercase;
    font-style: italic;
}

p{
    color: black;
    font-weight: bold;
}

ul li:nth-child(odd){color:tan;}

a:link {
    color:green;
    text-decoration:none;
}
a:hover {
    color:hotpink;
    font-weight:bold;
    text-decoration:underline navy;
}
a:visited {
    color:khaki;
}
a:active {
    background-color: steelblue;
    font-style: italic;
}

.related {
    font-size:18px;
    font-style:italic;
}

.main-header{
    background-color: whitesmoke;
}

nav {
    font-size:18px;
}

aside {
    background-color: whitesmoke;
}

h1,h2,h3 {
    color: cadetblue;
}

h1 {
    font-size: 26px;
    text-transform: uppercase;
    font-style: italic;
}

h2 {
    font-size: 40px;
}

h3 {
    font-size: 30px;
}

h4 {
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
}

P{
    font-size: 22px;
    line-height: 1.5;
}

.post-img {
    width: 100%;
    height:auto;
}

li {
    font-size: 20px;
}
#author {
    font-style: italic;
    font-size: 18px;
}
#copyright {
    font-size: 16px;
}
.related {
    list-style: none;
}
.related-author {
    font-size: 14px;
    font-weight: normal;
    font-style: italic;
}
.related-link:link {
    font-size: 17px;
    font-weight: bold;
    font-style: normal;
}